<div id="footer">
      <p>© 2016        <a href="https://www.automotivelinux.org/">Automotive Grade Linux</a> is a Linux Foundation Project. All Rights Reserved.      </p>
      <p>Linux Foundation is a registered trademark of The Linux Foundation. Linux is a registered <a href="http://www.linuxfoundation.org/programs/legal/trademark" title="Linux Mark Institute">trademark</a> of Linus Torvalds.</p>
      <p>Please see our <a href="http://www.linuxfoundation.org/privacy">privacy policy</a> and <a href="http://www.linuxfoundation.org/terms">terms of use</a>.</p>
</div>

