<div class="row">
    <div class="col-sm-9">
        <h1>More Resources</h1>
        <div class="row">
            <div class="col-sm-4">
                <h2>General</h2>
                <ul class="nav">
                    <li>
                        <a target="_blank" href="https://www.automotivelinux.org/">AGL Developer Community</a>
                    </li>
                    <li>
                        <a href="https://www.automotivelinux.org/software/download/">Download Distribution</a>
                    </li>
                    <li>
                        <a href="https://gerrit.automotivelinux.org/gerrit/#/admin/projects/">Source Code on Git</a>
                    </li>
                    <li>
                        <a target="_blank" href="/contact">Mailing List</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-4">
                <h2>Development</h2>
                <ul class="nav">
                    <li><a target="_blank" href="https://wiki.automotivelinux.org/agl-distro/source-code">Source Code</a></li>
                    <li><a target="_blank" href="https://jira.automotivelinux.org/browse/SPEC/?selectedTab=com.atlassian.jira.jira-projects-plugin:summary-panel">Issue Tracker</a></li>
                    <li><a target="_blank" href="https://wiki.automotivelinux.org/">Wiki</a></li>
                    <li><a href="https://www.automotivelinux.org/contact-us">Contact</a></li>
                </ul>
            </div>
            <div class="col-sm-4">
                <h2>Automotive Grade Linux @ Linux Foundation</h2>
                <ul class="nav">
                    <li>
                        <a target="_blank" href="https://www.automotivelinux.org/">About AGL</a>
                    </li>
                    <li>
                        <a target="_blank" href="http://www.linuxfoundation.org/">About Linux Foundation</a>
                    </li>
                    <li>
                        <a target="_blank" href="https://wiki.automotivelinux.org/start/getting-started">Join AGL community</a>
                    </li>
                    <li>
                        <a target="_blank" href="https://www.automotivelinux.org/about/members">Members</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <h1>Contribute</h1>
        <p style="padding-top:20px"><strong>Help AGL move forward!</strong></p>
        <p>Report bugs, improve the docs, or contribute to the code.</p>
        <a href="{{ site.baseurl }}/contribute" class="btn btn-lg btn-primary">
            Learn More
        </a>
        <p style="padding-top:20px"> <a href="https://twitter.com/{{ site.twitter.hashtag }}" class="twitter-follow-button" data-show-count="false">Follow @{{ site.twitter.hashtag }}</a></p>
    </div>
</div>
<p class="copyright_text">
    Copyright &copy; 2016 Automotive Grade Linux Documentation, Licensed under the <a target="_blank" href="http://www.apache.org/licenses/LICENSE-2.0">Apache License, Version 2.0</a>.<br/>
    Automotive Grade Linux and feather logos are <a target="_blank" href="http://www.linuxfoundation.org">trademarks</a> of The Linux Foundation.
</p>
