<header>
    <a class="scroll-point pt-top" name="top"></a>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="{{ site.baseurl }}/"><img id="logo_top" src="{{ site.baseurl }}{{ site.logo.navbar }}"/></a>
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <div class="nav_bar_left">
                    <ul class="nav navbar-nav">
                        <li {% if page.specs_tab %}class="active"{% endif %}>
                            <a href="{{ site.docsurl }}/getting_started/en/{{ site.default_linked_docs_version }}/">Getting Started</a>
                        </li>
                                                
                        <li {% if page.specs_tab %}class="active"{% endif %}>
                            <a href="{{ site.docsurl }}/architecture/en/{{ site.default_linked_docs_version }}/">Architecture Guides</a>
                        </li>

                        <li {% if page.appfw_tab %}class="active"{% endif %}>
                            <a href="{{ site.docsurl }}/hardware/en/{{ site.default_linked_docs_version }}/">Hardware Support</a>
                        </li>

                        <li {% if page.specs_tab %}class="active"{% endif %}>
                            <a href="{{ site.docsurl }}/devguides/en/{{ site.default_linked_docs_version }}/">Developer Guides</a>
                        </li>
                        
                        <li {% if page.appfw_tab %}class="active"{% endif %}>
                            <a href="{{ site.docsurl }}/apis_services/en/{{ site.default_linked_docs_version }}/">APIs & Services</a>
                        </li>
					</ul>
				</div>
                <div class="nav_bar_right">
                    <ul class="nav navbar-nav">
{% comment %} <!-- disabled because posts are not updated - see SPEC-2029 -->
                        <li {% if page.blog_tab %}class="active"{% endif %}>
                            <a href="{{ site.baseurl }}/techpost" id="blog_button">TechPost<span class="badge" id="new_blog_count"></span></a>
                        </li>
{% endcomment %}
                        <li {% if page.contribute_tab %}class="active"{% endif %}>
                            <a href="{{ site.baseurl }}/contribute">Contribute</a>
                        </li>
                        <li>
                            <form class="navbar-form navbar-right" id="header-search-form" role="search">
                                <div class="input-group">
                                    {% if page.version %}
                                        {% assign version = page.version %}
                                    {% else %}
                                        {% assign version = site.latest_docs_version %}
                                    {% endif %}
                                    <input id="header-search-field" type="text" placeholder="Search '{{ version }}' docs..." class="form-control hidden-xs" autocomplete="off">
                                </div>
                            </form>
                        </li>
                    </ul>
                </div>
            </div><!--/.navbar-collapse -->
        </div>
    </nav>
    <div id="_fixed_navbar_spacer" style="padding-top:50px"></div>
</header>
